
<div class="card" v-if="first_load_done && session.started">                  
    <div class="card-header fw-bold">                
        <span class="align-middle">Your Choice</span>            

    </div>
    <div class="card-body">      
        <div class="row mb-4">
             <!-- signal -->
           <div class="col text-center">

                <!-- text -->
                <div class="row">
                    <div class="col h5 text-center">
                        <u>Step 1</u>:
                    </div>
                </div>

                <!-- text -->
                <div class="row">
                    <div class="col h5 text-center">
                        Everyone sees the same image:
                    </div>
                </div>

                <!-- image -->
                <div class="row">
                    <div class="col">
                        <img v-bind:src="'/static/' + current_choice.session_part_period.parameter_set_part_period.parameter_set_random_outcome.image" 
                            class="signal_image"/>
                    </div>
                </div>                
            </div> 

        </div>
        <div class="row mb-4">          
           
           <!-- labels -->
           <div class="col">
                <!-- text -->
                <div class="row">
                    <div class="col h5 text-center">
                        <u>Step 2</u>:
                    </div>
                </div>

                <div class="row">
                    <div class="col h5 text-center">
                        We have assinged the following labels to your group members this period:
                    </div>
                </div>

                <!-- choices -->
                <div class="row">
                    <div class="col text-center">

                        <div class="row justify-content-center mt-4">
                            <div v-for="(o, index) in current_choice.session_player_part_period_group"
                                 class="col-auto text-center"
                                 v-bind:id="'label_grid_' + o.parameter_set_labels_period.id">                                     
                                 
                                <div class="text-center h5">
                                    Player [[o.id_label]] <span v-if="o.session_player_id==session_player.id">(You)</span>
                                </div>
                                 
                                <img v-bind:src="'/static/' + o.parameter_set_labels_period.label.image" 
                                     class="signal_image rounded border-warning border-2"
                                     v-bind:class="{'border':o.session_player_id==session_player.id}"/>
                                    
                            </div>
                        </div>
                        
                   </div>                   
                </div>

            </div>

        </div>

        <div class="row">            
             <!-- choice grid -->
             <div class="col">
                <!-- text -->
                <div class="row">
                    <div class="col h5 text-center">
                        <u>Step 3</u>:
                    </div>
                </div>

                <!-- text -->
                <div class="row">
                    <div class="col h5 text-center">
                        Select one of the choices to report:                       
                    </div>
                </div>

                <!-- choices -->
                <div class="row">
                    <div class="col text-center" v-if="!get_current_part_period().choice">

                        <div class="row justify-content-center mt-4">
                            <div v-for="(o, index) in session.parameter_set.parameter_set_random_outcomes"
                                 class="col-auto text-center"
                                 v-bind:id="'choice_grid_' + o.id"
                                 v-on:click="take_choice_grid_click(o.id, index)" >                
                                <img v-bind:src="'/static/' + o.image" 
                                     class="choice_image rounded border-success border-2"
                                     v-bind:class="{'border':index==get_current_part_period().current_outcome_index}"/>
                                    
                            </div>
                        </div>
                        
                   </div>
                   <div class="col text-center" v-else>
                        <img v-bind:src="'/static/' + get_current_part_period().choice.image" 
                            class="choice_image rounded border-success border-2 border"/>                            
                   </div>
                </div>


                 <!-- text -->
                <div class="row">
                    <div class="col h5 text-center" v-if="current_choice.hasOwnProperty('session_part')">                        
                        If your assigned label from step 2 matches the majority ([[current_choice.session_part.parameter_set_part.minimum_for_majority]]+ people) choice from step 3 you earn $[[current_choice.session_part.parameter_set_part.pay_label_majority]].<br>
                        If your assigned label from step 2 does <u>not</u> match the majority choice from step 3 you instead earn $[[current_choice.session_part.parameter_set_part.pay_label_minority]].<br><br>
                        We will randomly pay you for 1 of the [[session.parameter_set.period_count]] periods in this part.
                    </div>
                </div>

                <div class="row mt-4">

                    <div class="col text-center" v-if="!get_current_part_period().choice">
                
                        <button class="btn"
                            v-bind:class="(tick_tock=='tick' && session.time_remaining==0) ? 'btn-success' : 'btn-outline-success'"
                            type="button"
                            title="Report Choice"
                            v-bind:disabled="!session.started || reconnecting || working || get_current_part_period().current_outcome_index == -1"
                            v-on:click="sendchoice()">
                            <span class="h5">
                                Report [[get_current_part_period().current_outcome_id >-1 ? 
                                         session.parameter_set.parameter_set_random_outcomes[get_current_part_period().current_outcome_index].name
                                         : '---']]                                                    
                            </span>
                        </button>
                    </div>
                    <div class="col text-center text-success" v-else>
                        <span class="h5">Waiting for others.</span>
                    </div>
                </div>   

            </div>
        </div>
    </div>                    
</div> 