{%extends "base.html"%}
{% load crispy_forms_tags %}

{%block head%}
<script type="text/javascript">

    document.addEventListener("DOMContentLoaded", function(){
        {%include "subject/subject_home/subject_home.js"%}
    });

</script>

<style>

    .chat {       
        width: 100%;
        height: 300px;
        word-breaK:break-word;
        overflow-y:scroll;
        background-color: ghostwhite;
        display:flex; 
        flex-direction:column-reverse;
    }

    .instructions{
        height: 300px;
        overflow-y:scroll;
    }

    .signal_image{
        width: auto;
        height: 150px;              
    }

    .signal_image_animation {
        animation: signal_image_keyframs 2s ease; 
    }

    @keyframes signal_image_keyframs {
        0% { transform: scaleX(.01) }
        100% { transform: scaleX(1) }
    }

    .result_image{
        width: auto;
        height: 50px;       
    }

    .choice_image{
        width: auto;
        height: 150px;  
        cursor: pointer;
    }

    .report_table_1{
        background-color: gainsboro;
    }
       
</style>

{%endblock head%}

{% block content %}

<!-- modals -->
{%include "subject/subject_home/summary/end_game_modal.html"%}

<div v-if="current_choice.hasOwnProperty('session_part')">

    <!-- instructions -->
    <div class="row justify-content-lg-center mt-4" v-cloak v-show="session.current_experiment_phase == 'Instructions'">
        <div class="col-md">
            {%include "subject/subject_home/instructions_card.html"%}
        </div>
    </div>

     <!-- results part a -->
     <div class="row justify-content-lg-center mt-4" v-cloak v-if="current_choice.session_part.parameter_set_part.mode=='A' && 
                                                                   current_choice.session_part.show_results &&
                                                                   session.current_experiment_phase == 'Run'">
        <div class="col-md">
            {%include "subject/subject_home/choice_a_results_card.html"%}
        </div>
    </div>

    <!-- experiment -->
    <div class="row justify-content-lg-center mt-4" v-cloak 
         v-if="current_choice.hasOwnProperty('session_part') && 
              (session.current_experiment_phase == 'Run' || session.current_experiment_phase == 'Instructions')">

        <div class="col-md">
            <div v-if="current_choice.session_part.parameter_set_part.mode=='A' && !current_choice.session_part.show_results">
                {%include "subject/subject_home/choice_a_card.html"%}
            </div>            
            <div v-if="current_choice.session_part.parameter_set_part.mode=='B' ">
                {%include "subject/subject_home/choice_b_card.html"%}
            </div>
            <div v-if="current_choice.session_part.parameter_set_part.mode=='C' ">
                {%include "subject/subject_home/choice_c_card.html"%}
            </div>
        </div>
    </div>

    <div class="row justify-content-lg-center mt-4" v-cloak v-if="session.current_experiment_phase == 'Pay'">
        <div class="col-12 fs-4 fw-bold text-center">
            <br>
            <br>
            <br>
            <br>
            Please wait while we calculate the results.              
        </div>    
    </div>

    <div class="row justify-content-lg-center mt-4" v-cloak v-if="session.current_experiment_phase == 'Results'">
        <div class="col-12">
            {%include "subject/subject_home/final_results_card.html"%}
        </div>    
    </div>

    <div class="row justify-content-lg-center mt-4" v-cloak v-if="session.current_experiment_phase == 'Done'">
        <div class="col-12 fs-4 fw-bold text-center">
            <br>
            <br>
            <br>
            <br>
            The session is complete, thank you for your participation!              
        </div>    
    </div>

    <div class="row justify-content-lg-center mt-4">
        <div class="col-12 text-end text-muted">
            <span class="align-middle">Player [[session_player.parameter_set_player.id_label]]</span>
        </div>  
    </div>

</div>

<div v-else>
    <div class="col text-end">
        <i class="fas fa-cog fa-spin fa-2x"></i>
    </div>
</div>
{% endblock %}