<div class="card" v-show="first_load_done">                  
    <div class="card-header fw-bold">                
        <span class="align-middle">
            Players ([[session.parameter_set.parameter_set_players.length]]) 
        </span>      

        <span class="float-end">
            <button type="button" class="btn btn-link ms-4" title="Show Help Doc" v-on:click="sendLoadHelpDoc('Staff Parameters Players')">
                <i class="far fa-question-circle"></i> 
            </button>
        </span> 
                
    </div>
    <div class="card-body" >        

        <div class="row justify-content-center">
            <!-- player settings -->
            <div class="col-md-auto text-center">                
                <div class="table-responsive">
                <table class="table table-condensed"> 
                    <thead>
                        <tr>
                            <th scope="col" class = "m-1 p-1">
                                #
                            </th> 
                            <th scope="col" class = "m-1 p-1">
                                ID
                            </th>
                            <th scope="col" class = "m-1 p-1" v-for="(p, index) in session.parameter_set.part_count" v-bind:key="'player_part_column_' + index">
                                <span v-if="index==0">Part </span>[[index+1]]
                            </th>                           
                        </tr>
                    </thead>
                    <tbody id="player_list">
                        <tr v-for="(p, index) in session.session_players" v-bind:key="p.id">
                            <td v-on:click="showEditParametersetPlayer(p.parameter_set_player.id)" class="player_table_cell">
                                [[p.player_number]]
                            </td>
                            <td v-on:click="showEditParametersetPlayer(p.parameter_set_player.id)" class="player_table_cell">
                                [[p.parameter_set_player.id_label]]
                            </td>
                            <td v-for="(l, index) in p.parameter_set_player.parameter_set_player_parts" v-bind:key="l.id"
                                v-on:click="showEditParametersetLabelsPeriod(l.id)" 
                                class="player_table_cell" >
                                G[[l.group]]<br>
                                [[l.parameter_set_labels ? l.parameter_set_labels.name : '---']]
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <!-- copy groups forward -->
                        <tr>
                            <td>
                                <button class="btn btn-outline-success btn-sm"
                                        type="button"
                                        title="Add player"
                                        v-bind:disabled="session.started || reconnecting || working"
                                        v-on:click="sendAddParameterSetPlayer()">
                                       Add <i class="fas fa-plus"></i>
                                </button>
                            </td>                            
                            <td>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                </div>
            </div>
        </div>  
        
    </div>                    
</div> 